# OpenTelemetry Environment Variable Specification
# https://opentelemetry.io/docs/reference/specification/sdk-environment-variables/
#OTEL_EXPORTER_OTLP_SPAN_ENDPOINT=otelcol.aspecto.io:443
OTEL_LOG_LEVEL=debug
OTEL_RESOURCE_ATTRIBUTES=os.type=linux,os.name=Ubuntu,host.hostname=fib.workshop.com,deployment.region=eu-west1,deployment.environment=workshop
OTEL_SERVICE_NAME=fib
OTEL_EXPORTER_OTLP_TRACES_ENDPOINT=otelcol.aspecto.io
ASPECTO_API_KEY=...
